#big {
    height: auto;
    background-color: yellowgreen;
}
#login {
    max-width: 15%;
    min-width: 181px;
    margin: 0px auto;
}

#registration {
    max-width: 15%;
    min-width: 181px;
    margin: 0px auto;
}

.error {
    color: white;
}