{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Выше 3 Мета-теги ** должны прийти в первую очередь в голове; любой другой руководитель контент *после* эти теги -->

        <title>{% block title %}{% endblock %}</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'flight/css/style.css' %}" />

        <!-- HTML5 Shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- Предупреждение: Respond.js не работает при просмотре страницы через файл:// -->
        <!--[if lt IE 9]>

        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script >
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

        <![endif]-->
    </head>

    <body>
        <div id="header">
        </div>

        <div id="sidebar">
            <div id="navigation">
                <div class="navbar navbar-inverse navbar-static-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                                <span class="sr-only">Открыть навигацию</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="responsive-menu">
                            <ul class="nav navbar-nav">
                                <li><a href="/">Главная</a></li>
                                <li><a href="/admin">Админка</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Поиск<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Текст1</a></li>
                                        <li><a href="#">Текст2</a></li>
                                        <li><a href="#">Текст3</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Текст4</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                            <form action="/flight/search/" method="get" class="navbar-form navbar-right" role="search">
                                    <input class="form-control" type="text" name="search_q"  placeholder="Поиск..." >

                                    <select name="out" name="out" >
                                        <option value="" hidden>Место вылета</option>
                                        {% for route in routes%}
                                            <option value='{{ route.airport_out }}'>
                                                {{ route.airport_out }}
                                            </option>
                                        {% endfor %}
                                    </select>

                                    <select name="in" name="in" >
                                        <option value="" hidden>Место прилёта</option>
                                        {% for route in routes%}
                                            <option value='{{ route.airport_in }}'>
                                                {{ route.airport_in }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                <button type="submit" class="btn btn-default">Поиск</button>
                            </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="container">
                <div class="row">
                    <div id="big" class="col-md-8 col-md-push-2" >
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>

        <div id="footer">
        </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
{#    <script src="./bootstrap/js/bootstrap.min.js"></script>#}
  </body>
</html>