{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Выше 3 Мета-теги ** должны прийти в первую очередь в голове; любой другой руководитель контент *после* эти теги -->

        <title>{% block title %}{% endblock %}</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-search.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'flight/css/style.css' %}" />

        <!-- HTML5 Shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- Предупреждение: Respond.js не работает при просмотре страницы через файл:// -->
        <!--[if lt IE 9]>

        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script >
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

        <![endif]-->
    </head>

    <body>
        <div id="navigation">
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <!-- Кнопка «Гамбургер» отображается только в мобильном виде ) -->
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
                            <span class="sr-only">Открыть навигацию</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Бренд или название сайта (отображается в левой части меню) -->
                        <a href="/" class="navbar-brand">Aviatable</a>
                    </div>
                    <!-- Основная часть меню (может содержать ссылки, формы и другие элементы) -->
                    <div class="pull-right">
                        <div class="collapse navbar-collapse" id="navbar-main">
                            <ul class="nav navbar-nav">
                                {% if request.user.is_superuser %}
                                    <li><a href="/admin">Админка</a></li>
                                {% endif %}
                                <li>
                                    {% include 'aviatable/search_test.html' %}
                                </li>
                                {% if request.user.is_authenticated %}
                                    <li>
                                        <a href="/auth/logout/"> Выйти ( {{ user.username.upper }} )</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href=/auth/login/"> Войти </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="auth">
            {% block login %}{% endblock %}
        </div>
        {% if request.user.is_authenticated %}
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div id="big" class="col-md-8 col-md-push-2" >
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div id="footer">
        </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src={% static 'bootstrap/js/bootstrap.js'%}></script>

  </body>
</html>