{% extends 'base.html' %}
    {% block title %}
        Login
    {% endblock %}

    {% block login %}
        <div class="row">
            <div class="col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-2 col-xs-offset-5">
                <form action="/login/" method="post">
                    {% csrf_token %}
                    <p><label for="username">Имя пользователя</label></p>
                    <p><input type="text" name="username" id="username"></p>
                    <p><label for="password">Пароль</label></p>
                    <p><input type="password" name="password" id="password"></p>
                    {% if login_error %}
                        <label class="error">{{ login_error }}</label>
                    {% endif %}
                    <input class="button" type="submit" value="Войти">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-2 col-xs-offset-5">
                <a href="/registration/">Регистрация</a>
            </div>
        </div>
    {% endblock %}