<div class="input-group" id="adv-search">
    <form id="search_text" action="/flight/search/" method="get">
        <input type="text" class="form-control" name="search_q"  placeholder="Поиск рейса" />
    </form>
    <div class="input-group-btn">
        <div class="btn-group" role="group">
            <div class="dropdown dropdown-lg">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                <div id="search-dropdown-menu" class="dropdown-menu dropdown-menu-right" role="menu">
                    <form id="search_form" action="/flight/search/" method="get" class="form-horizontal" role="form">
                      <div class="form-group">
                        <label for="filter">Место вылета</label>
                        <select name="out" class="form-control" >
                            <option value="" hidden></option>
                            {% for route in routes%}
                                <option value='{{ route.airport_out }}'>
                                    {{ route.airport_out }}
                                </option>
                            {% endfor %}
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="filter">Место прилёта</label>
                        <select name="in" class="form-control" >
                            <option value="" hidden></option>
                            {% for route in routes%}
                                <option value='{{ route.airport_in }}'>
                                    {{ route.airport_in }}
                                </option>
                            {% endfor %}
                        </select>
                      </div>
{#                                  <div class="form-group">#}
{#                                    <label for="contain">Author</label>#}
{#                                    <input class="form-control" type="text" />#}
{#                                  </div>#}
{#                                  <div class="form-group">#}
{#                                    <label for="contain">Contains the words</label>#}
{#                                    <input class="form-control" type="text" />#}
{#                                  </div>#}
                      <button type="submit" class="btn btn-primary">Поиск по формам</button>
                    </form>
                </div>
            </div>
            <button type="submit" form="search_text" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
    </div>
</div>