{#<div class="container">#}
{#	<div class="row">#}
{#		<div class="col-md-12">#}
            <div class="input-group " id="adv-search">
                <input type="text" class="form-control" name="search_q"  placeholder="Поиск рейса" />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu" role="menu">
                                <form id="search" action="/flight/search/" method="get" class="form-horizontal" role="form">
                                  <div class="form-group">
                                    <select name="out" class="form-control" >
                                        <option value="" hidden>Место вылета</option>
                                        {% for route in routes%}
                                            <option value='{{ route.airport_out }}'>
                                                {{ route.airport_out }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <select name="in" class="form-control" >
                                        <option value="" hidden>Место прилёта</option>
                                        {% for route in routes%}
                                            <option value='{{ route.airport_out }}'>
                                                {{ route.airport_out }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                  </div>
{#                                  <div class="form-group">#}
{#                                    <label for="contain">Author</label>#}
{#                                    <input class="form-control" type="text" />#}
{#                                  </div>#}
{#                                  <div class="form-group">#}
{#                                    <label for="contain">Contains the words</label>#}
{#                                    <input class="form-control" type="text" />#}
{#                                  </div>#}
                                  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </form>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
          </div>
{#        </div>#}
{#	</div>#}
{#</div>#}