{% extends 'base.html'%}

{% block title %}
{{ route.code }}
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Рейс</th>
                <th>Вылет</th>
                <th>Прилёт</th>
                <th>Самолёт</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{ route.code }}</td>
                    <td>{{ route.airport_out }}</td>
                    <td>{{ route.airport_in }}</td>
                    <td>{{ route.plane }}</td>
                </tr>
            </tbody>
     </table>
{% endblock %}