{% extends 'base.html'%}

{% block title %}
{{ args.route.code }}
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Рейс</th>
                <th>Вылет</th>
                <th>Прилёт</th>
                <th>Самолёт</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{ args[route.code]}}</td>
                    <td>{{ args[route.airport_out]}}</td>
                    <td>{{ args[route.airport_in]}}</td>
                    <td>{{ args[route.plane]}}</td>
                </tr>
            </tbody>
     </table>
{% endblock %}