{% extends 'base.html' %}

{% block title %}
INDEX
{% endblock %}
{% block content %}


<table class="table">
        <thead>
            <tr>
                <th>Рейс</th>
                <th>Вылет</th>
                <th>Прилёт</th>
                <th>Самолёт</th>
            </tr>
        </thead>
        <tbody>

            {% for route in search%}
                <tr>
                    <td><a href="{% url 'one_route' route_id=route.id %}">{{ route.code }}</a></td>
                    <td>{{ route.airpotr_out }}</td>
                    <td>{{ route.airpotr_in }}</td>
                    <td>{{ route.plane }}</td>
                </tr>
            {% endfor %}
            </tbody>
     </table>

{{ test }}
{% endblock %}